{% load static %}
{% load socialaccount %}

{% load account %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<ul>
    {% if user.is_authenticated %}

        <li><a href="{% url 'logout' %}">Logout</a></li>
            <li><a href="{% url 'password_change' %}">Изменить пароль</a></li>
    <li><a href="{% url 'edit_profile' %}">Редактирование профиля</a></li>

    {% else %}
    <li><a href="{% url 'register' %}">Регистрация</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
    <li><a href="{% provider_login_url 'google' %}">Google</a></li>

    <li><a href="{% url 'password_reset' %}">Восстановитть пароль</a></li>

{% endif %}
{% user_display user %}

</ul>
{% block content %}{% endblock %}
</body>
</html>